body{
    padding: 0px;
}

.Our{
    color: var(--neutral-d-grey, #4D4D4D); 
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    align-self: stretch;
}
.We{
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.images{
    display: flex;
    height: 98px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}
.second{
    background-color: white;
}

.Manage{
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; 
}

.Who{
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: stretch;
}

.img1, .img2, .img3{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.p1{
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    align-self: stretch;
}

.p2{
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.membership_organisations, .national_associations, .clubs{
    /* display: flex; */
    width: 299px;
    padding: 24px 32px;
    
    /* align-items: center; */
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    /* background: var(--neutral-white, #FFF); */
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.section{
    display: flex;
    flex-direction: column;
    width: 1440px;
    padding: 0px 144px;
    justify-content: space-between;
    align-items: center;
}
