.forth_layer{
    display: flex;
    justify-content: space-between;
    padding: 0px 144px;
    margin-top: 40px;
}
.membership_organisations{
    display: flex;
    width: 299px;
    padding: 24px 32px;
    flex-direction: column;
    gap: 16px;
    
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    /* background: var(--neutral-white, #FFF); */
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.img1, .img2, .img3{
    width: 65px;
    height: 56px;
}

.p1{
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    align-self: stretch;
}

.p2{
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}