.seventh_layer{
    background-color: white;
    display: flex;
    width: 1440px;
    padding: 0px 144px;
    justify-content: space-between;
    align-items: center;
}

.seventh_img{
    width: 320.288px;
    height: 298.438px;
    flex-shrink: 0;
}

.h2{
    color: var(--neutral-d-grey, #4D4D4D);
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; 
    align-self: stretch;
}

.seventh_p{
    color: var(--neutral-grey, #717171);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-self: stretch;
}

.seventh_btn{
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--brand-primary, #4CAF4F);
}

.h2{
    display: flex;
    width: 601px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.seventh_text{
    display: flex;
    width: 661px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

/* .img1{
    width: 53.298px;
    height: 60.523px;
    flex-shrink: 0;
} */

.img2{
    width: 52.556px;
    height: 82.008px;
    flex-shrink: 0;
    fill: #263238;
}

.img3{
    width: 21.959px;
    height: 39.151px;
    flex-shrink: 0;
    fill: #FFBE9D;
}