body{
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   padding: 0px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   width: 30px;
   height: 30px;
   flex-shrink: 0; 
    
} 

.my_picture{
   width: 391px;
   height: 407px; 
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 105px;
   padding: 30px;
}

.second{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 105px;
   padding: 30px;
   margin-right: 10px;
}

.first{
   display: flex;
   align-items: center;
   gap: 105px;
   padding: 30px;
   margin: 0px;
}

.Profeesional{
   margin-right: 100px;
}
   


