body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #663399;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #663399;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #4a2a68;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: white;
    border: 1px solid #663399;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px grey;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product button {
    background-color: #663399;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #4a2a68;
}

#cart {
    background-color: white;
    border: 1px solid #663399;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-total {
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
